.form {
  --bg-light: #efefef;
  --bg-dark: #9f0dd5;
  --clr:rgb(177, 100, 12);
  --clr-alpha: #b66c0b60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input[type="email"],
.form input[type="password"],
.form input[type="fone"],
.form input[type="cpf"],
.form input[type="confirm"],
.form input[type="name"],
.form input[type="num"],
.form input[type="cep"]
{
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
}

.form input[type="email"]:focus,
.form input[type="password"]:focus,
.form input[type="confirm"]:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

.form .submit {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.form .submit:hover {
  background-color: var(--clr);
  color: var(--bg-dark);
  
}

.span {
  text-decoration: none;
  color: var(--bg-dark);
}

.span a {
  color: var(--clr);
}
body{
  background-color: #ffffff;
}
p{
  color: rgb(255, 255, 255);
}
h1{
  color: rgb(98, 58, 6);
}
label{
  color: rgb(83, 6, 98);
}
hr{
  color: rgb(83, 6, 98);
}

footer{
  background-color: #500361;
  color: #ffffff;
  padding: 40px 0;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section{
  flex-basis: 23%;
  margin-bottom: 20px;
}

.footer-section h4{
  margin-bottom: 15px;
  font-size: 20px;
  color: #c300ff;
}

.footer-section p, .footer-section ul{
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 115%;
}

.footer-section ul{
  list-style-type: none;
}

.footer-section ul li{
  margin-bottom: 10px;
}

.footer-section ul li a{
  color: #7a0376;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover{
  color: #000000 ;
}
.Social-links a{
  display: inline-block;
  margin-right: 10px;
  color: rgb(227, 4, 201);
  text-decoration: none;
  transition: color 0.3s;
}

.Social-links a:hover{
  color: rgb(255, 255, 255);
}

.foto img{
  margin: 20px;
    width: 150px;
    height: 150px;
    border-radius: 360px; 
  
}
.buttoncar {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 35px;
}
.searchBox {
  display: flex;
  max-width: 300px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #560384;
  border-radius: 30px;
  position: relative;
}

.searchButton {
  color: white;
  position: absolute;
  right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--gradient-2, linear-gradient(90deg, #73047d 0%, #000000 100%));
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
/*hover effect*/
button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}
/*button pressing effect*/
button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 24px 46px 24px 26px;
}
h2{
  text-align: center;
  font-family: cursive;
  color: chocolate;
}
.sobre p{
  font-size: 1.2rem; /* Tamanho de fonte legível */
  line-height: 1.6; /* Maior espaçamento entre linhas para legibilidade */
  color: #5D4037; /* Cor do texto */
  font-weight: 400;
  width: 50%;
  text-align: justify;
}
.sobre h2{
  font-family: 'Playfair Display', serif; /* Fonte estilosa para o título */
  font-size: 1.5rem; /* Tamanho grande para o título */
  color: chocolate; 
  margin-bottom: 20px; /* Espaçamento abaixo do título */
}
a{
  text-decoration: none; /* Remove o sublinhado */
  color: #ffffff;
}