main{
  background-color: #c952f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(96, 99, 98);
}
table{
  padding: 10px;
  text-align: center;
  border-bottom: 1px soli #ffffff;
}
th{
  background-color: #000000;
  font-weight: bold;
  color: #ad8252;
  
}

input.quantidade{
  width: 50px;
  padding: 5px;
  text-align: center;
}
button.remover-produto{
  background-color: #ffffff;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000000;
}
.total-final{
  text-align: right;
  margin-top: 20px;
}
.total-final h2{
  color: #333;
}
#total-final{
  color: #ffffff;
}
button.remover-produto:hover{
  background-color: #39ef48;
}


footer{
  background-color: #500361;
  color: #ffffff;
  padding: 40px 0;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section{
  flex-basis: 23%;
  margin-bottom: 20px;
}

.footer-section h4{
  margin-bottom: 15px;
  font-size: 20px;
  color: #c300ff;
}

.footer-section p, .footer-section ul{
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 115%;
}

.footer-section ul{
  list-style-type: none;
}

.footer-section ul li{
  margin-bottom: 10px;
}

.footer-section ul li a{
  color: #7a0376;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover{
  color: #000000 ;
}
.Social-links a{
  display: inline-block;
  margin-right: 10px;
  color: rgb(227, 4, 201);
  text-decoration: none;
  transition: color 0.3s;
}

.Social-links a:hover{
  color: rgb(255, 255, 255);
}

.Carrinho li a img{
  max-width: 50px;
  
  }
  .buttoncar {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 35px;
  }
  .searchBox {
    display: flex;
    max-width: 300px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #560384;
    border-radius: 30px;
    position: relative;
  }
  
  .searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #73047d 0%, #000000 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }
  /*hover effect*/
  button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
  }
  /*button pressing effect*/
  button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
  }
  
  
  